<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>
<form th:action="@{/}" method="get">
	<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>





<div class="container">

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/user/readerService}" method="post">
				<fieldset>

					<!-- Form Name -->
					<legend>Select reader</legend>

					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="reader"></label>
						<div  class="col-md-4">
							<select th:field="${readerSelect}" id="reader" name="reader" class="form-control">
								<option th:each="readerS : ${readers}" th:text="${readerS.getUser().getName()}+'('+${readerS.getUser().getEmail()}+')'" th:value="${readerS.getId()}"></option>
							</select>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="getReader"></label>
						<div class="col-md-4">
							<button type="submit" id="getReader" name="getReader" class="btn btn-primary">Get reader</button>
						</div>
					</div>

				</fieldset>
			</form>

		</div>
		<div class="row" th:if="${reader != null}">
			<div class="container">
				<div class="row">
					<div class="col">
						Name:
					</div>
					<div th:text="${reader.getUser().getName()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Surname:
					</div>
					<div th:text="${reader.getUser().getLastName()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						email:
					</div>
					<div th:text="${reader.getUser().getEmail()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Street:
					</div>
					<div th:text="${reader.getStreet()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Building number:
					</div>
					<div th:text="${reader.getBuilding()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Flat number:
					</div>
					<div th:text="${reader.getFlat()}" class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						Phone:
					</div>
					<div th:text="${reader.getPhone()}" class="col"></div>
				</div>
			</div>
		</div>

	</div>

</div>




</body>
</html>